<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Groupie-tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/sidenav.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/hero.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/card.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <script src="https://api-maps.yandex.ru/2.1?apikey=d8056c94-5f4a-4a39-ae69-2b43f39055dd&lang=en_US" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div id="hero" class="hero-img">
      <div class="hero-text">
        <h1>MUSIC</h1>
        <h2>listen to best</h2>
        <div id="scroll" class="button-down"></div>
      </div>
    </div>

    <div id="main">
      <div class="search-container">
        <i id="search-icon" class="fa fa-search"></i>
        <input type="text" id="search" name="search" autocomplete="off" />
        <span id="openbtn"><i id="filter" class="fa fa-filter"></i></span>
      </div>

      <div class="container" id="container"></div>

      <div id="nothing-found" style="text-align: center;">
        <img src="/static/assets/sad-freddie.png" />
        <h2>Mama, ooh!</h2>
        <h4>no results...</h4>
      </div>

      {{template "side-nav"}} {{template "modal"}}
    </div>
    <script src="/static/js/core.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/filter.js"></script>
    <script src="/static/js/beautify.js"></script>
    <script src="/static/js/locations.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  </body>
</html>
