{{define "side-nav"}}
<!-- side nav for filter -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="closebtn">&times;</a>
  <h3>FILTERS <span id="reset-filter">&#8634;</span></h3>
  <div class="form">
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" id="dateCreated" />
      <label class="form-check-label" for="dateCreated"> DATE CREATED </label>
      <div id="dateCreatedInput">
        <label class="form-input-label" for="dateCreatedFrom">from</label>
        <input type="number" id="dateCreatedFrom" value="1950" />
        <label class="form-input-label" for="dateCreatedTo">to</label>
        <input type="number" id="dateCreatedTo" value="2020" />
      </div>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" id="album" />
      <label class="form-check-label" for="album"> 1<sup>st</sup> ALBUM </label>
      <div id="albumInput">
        <label class="form-input-label" for="albumFrom">from</label>
        <input type="number" id="albumFrom" placeholder="1950" />
        <label class="form-input-label" for="albumTo">to</label>
        <input type="number" id="albumTo" placeholder="2020" />
      </div>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" id="members" />
      <label class="form-check-label" for="members"> # OF MEMBERS </label>
      <div class="slidecontainer" id="membersInput">
        <p><span id="membersNum"></span></p>
        <div data-role="rangeslider">
          <p><span id="membersNum"></span></p>
          <div id="slider-range" class="slider"></div>
        </div>
      </div>
    </div>
    <div class="form-group form-check">
      <input class="form-check-input" type="checkbox" id="concerts" />
      <label class="form-check-label" for="concerts"> CONCERTS </label>
      <div id="concertsInput">
        <div id="concerts-content"></div>
      </div>
    </div>
    <button class="btn btn-light" id="apply-filter">Apply</button>
    <!-- <button class="btn btn-light" id="reset-filter">&#8635;</button> -->
  </div>
</div>
{{end}}
