body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../static/image.jpg);
    background-repeat: no-repeat; /* Empêche l'image de se répéter */
    background-size: cover; /* Redimensionne l'image pour remplir tout l'espace sans déformer */
}


/* Styles pour la barre de navigation */
nav {
    background-color: rgb(33, 51, 51);
    padding: 10px;
}

nav a {
    color: white;
    font-size: 28px;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgb(30, 49, 49);
}

/* Styles pour le contenu */
.container {
    padding: 20px;
}

h1 {
    font-size: 72px;
    margin-bottom: 30px;
    color: rgb(28, 44, 44);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

/* Styles pour les sections "Membres", "Année de création", "Premier album", et "Lieux et dates des concerts" */
.section {
    background-color: rgb(30, 49, 49);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    color: white;
}

.section h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
}

.section ul {
    list-style: none;
}

.section li {
    margin-bottom: 5px;
}

/* Styles pour la barre de navigation */
nav {
    background-color: rgb(33, 51, 51);
    padding: 10px;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
}

/* Pour les images dans la barre de navigation */
nav img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* Pour le lien "HOME" à gauche */
.home-link {
    margin-right: auto;
}

/*-----------------------------------------------------------*/
