<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artiste</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_artist.css">

    <!-- Inclure la bibliothèque Leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>

<body>
    <nav>
        <a href="/" class="home-link">HOME</a>
        <a href="/locations">
            <img src="/static/calendrier.png" alt="Calendrier" class="nav-icon">
        </a>
        <a href="/dates">
            <img src="/static/locations.jpg" alt="Emplacements" class="nav-icon">
        </a>
    </nav>
    <div class="container">
        <img src="{{.ImageURL}}" alt="{{.Name}}">
        <div class="section"><h1 style="color: white;">{{.Name}}</h1></div>
        <div class="section">
            <h3>Membres:</h3>
            <p>
                {{- $length := len .Members -}}{{if $length}}{{index .Members 0}}{{end}}{{- range $index, $member := .Members -}}, {{ $member }}{{end}}
            </p>
        </div>
        
        <br><br>

        <div class="section">
            <h3>Année de création:</h3>
            <p>{{.YearCreation}}</p>
        </div>
        <br><br>

        <div class="section">
            <h3>Premier album:</h3>
            <p>{{.FirstAlbum}}</p>
        </div>
        <br><br>

        <div class="section">
            <h3>Lieux et dates des concerts:</h3>
            {{ range $location, $dates := .DatesLocations }}
            <h4>{{ $location }}</h4>
            <ul>
                {{ range $index, $date := $dates }}
                <li>{{ $date }}</li>
                {{ end }}
            </ul>
            {{ end }}
        </div>

        <!-- Conteneur pour la carte -->
        <div id="map" style="width: 100%; height: 400px;"></div>

<!-- Script pour initialiser la carte et ajouter des marqueurs -->
<div id="map" style="width: 800px; height: 600px;"></div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var locations = [
        {{ range $location, $dates := .DatesLocations }}
            "{{ $location }}",
        {{ end }}
    ];

    async function getCoordinates(location) {
        try {
            var apiUrl = 'https://nominatim.openstreetmap.org/search?format=json&q=' + encodeURIComponent(location);

            var response = await fetch(apiUrl);
            var data = await response.json();

            if (data.length > 0) {
                var latlng = L.latLng(parseFloat(data[0].lat), parseFloat(data[0].lon));
                var marker = L.marker(latlng).bindPopup(location);
                return marker;
            } else {
                throw new Error('Aucune coordonnée trouvée pour ' + location);
            }
        } catch (error) {
            console.error('Erreur de géocodage : ', error);
            throw error;
        }
    }

    async function addMarkers() {
        try {
            var markers = [];

            for (const location of locations) {
                var marker = await getCoordinates(location);
                markers.push(marker);
            }

            var markersLayer = L.layerGroup(markers);
            markersLayer.addTo(map);
        } catch (error) {
            console.error('Erreur lors de la récupération des coordonnées :', error);
        }
    }

    addMarkers();
    </script>
    </div>
</body>

</html>
