<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dates de concert</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/style_dates.css">
</head>

<body>
    <nav>
        <a href="/" class="home-link">HOME</a>
        <a href="/locations">
            <img src="/static/locations.jpg" alt="Calendrier" class="nav-icon">
        </a>
        <a href="/dates">
            <img src="/static/calendrier.png" alt="Emplacements" class="nav-icon">
        </a>
    </nav>
    <div class="container">
        <div class="section"><h1 style="color: white;">Dates de concert</h1></div>
        
        {{ range $date, $ids := . }}
        <div class="section">
            <h3>**{{ $date }}***</h3>
            <ul>
                {{ range $index, $id := $ids }}
                <li>{{ $id }}</li>
                {{ end }}
            </ul>
        </div>
        {{ end }}
    </div>
</body>
</html>
