<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des artistes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="body_index">
    <nav>
        <a href="/" class="home-link">HOME</a>
        <a href="/locations">
            <img src="/static/calendrier.png" alt="Calendrier" class="nav-icon">
        </a>
        <a href="/dates">
            <img src="/static/locations.jpg" alt="Emplacements" class="nav-icon">
        </a>
    </nav>

    <div class="section"><h1 style="color: white;">Liste des artistes</h1></div>

    <div class="section">
        <label for="artistSearch">Recherche d'artiste:</label>
        <input type="text" id="artistSearch" list="artists">
        <datalist id="artists">
            {{ range . }}
            <option value="{{ .Name }}"> {{ .Name }} </option>alue="Premier album: {{ .FirstAlbum }}">Premier album: {{ .FirstAlbum }}</option>
            {{ end }}
        </datalist>
    </div>
    

    <ul>
        {{range .}}
        <li>
            <a href="/artists/{{.ID}}">
                <div class="sec">
                    <img src="{{.ImageURL}}" alt="{{.Name}}">
                    <h2 style="text-align: center;">{{.Name}}</h2>
                </div>
            </a>
        </li>
        {{end}}
    </ul>
    
</body>
</html>
