<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='static/css/404.css'>
    <title>Error {{.ErrorCode}}</title>
</head>

<body>
    <div class="ctnt">
        <h2>Oops! Something went wrong :(</h2>
        <img src="/static/assets/break.png" alt="Coffee break">
        <p id="error">[{{.Error}}]</p>
        <p>Maybe it's time to take a break? Or...</p>
        <a href="/">&#8678; RETURN</a>
    </div>
</body>

</html>